{{!< admin}}
{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/src/css/admin/lecturer_show.css?v={{version}}"/>
{{/extend}}
<article id="container" class="area clear" data-currentPage="lecturershow">
	{{> admin/sidebar}}
	<section class="r">
		<div>讲师展示页面</div>
	</section>
</article>
<script type="text/javascript">require(['page/admin/lecturer/show']);</script>