{{!< admin}}
{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/src/css/admin/home.css?v={{version}}"/>
{{/extend}}
<article id="container" class="area clear">
	{{> admin/sidebar}}
	<section class="r" style='font-size:30px;margin-top:150px;'>
		<div>拉拉培训网</div>
	</section>
</article>