{{!< home}}
{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/src/css/d/courseSearch.css?v={{version}}"/>
{{/extend}}
<div class="wrap">
	<div class="job_search">
		<div class="tj clear">
			<form action="#" method="post" accept-charset="utf-8">
				<div class="t1 l">
					<label class="l" for="">课程分类</label>
					<div class="l courseClassify">
						<span class="l txt">在职培训类</span>
						<i class='txt'></i>
						<ul class="c_list hidden">
							<li><a href="javascript:void(0)">在职培训类111</a></li>
							<li><a class="cur" href="javascript:void(0)">在职培训类</a></li>
							<li><a href="javascript:void(0)">在职培训类222</a></li>
						</ul>
					</div>
				</div>
				<div class="t1 l">
					<label class="l" for="">培训地点</label>
					<div class="l courseClassify">
						<span class="l txt">在职培训类</span>
						<i class='txt'></i>
						<ul class="c_list hidden">
							<li><a href="javascript:void(0)">在职培训类111</a></li>
							<li><a class="cur" href="javascript:void(0)">在职培训类</a></li>
							<li><a href="javascript:void(0)">在职培训类222</a></li>
						</ul>
					</div>
				</div>
				<div class="t2 l">
					<div class="l courseClassify">
						<span class="l txt txt_course">课程名称</span>
						<i class='txt'></i>
						<ul class="c_list hidden">
							<li><a class="cur" href="javascript:void(0)">课程名称</a></li>
							<li><a href="javascript:void(0)">培训公司</a></li>
						</ul>
					</div>
					<div class="l t_div">
						<input value="" type="text" id='searchIpt' placeholder='请输入名称' />
					</div>
					<input value="搜索" type="submit" id='searchBtn' />
				</div>
			</form>
		</div>
	</div>
	<div class="content clear">
		<div class="l_tent l">
			<div class="t_top clear">
				<span class='l record'>共为您找到 <i class='red'>100</i> 条记录</span>
				<div class="r courseClassify">
					<span class="l txt">质量从高到低</span>
					<i class='txt'></i>
					<ul class="c_list hidden">
						<li><a class="cur" href="javascript:void(0)">质量从高到低</a></li>
						<li><a href="javascript:void(0)">质量从低到高</a></li>
					</ul>
				</div>
				<div class="r courseClassify">
					<span class="l txt">价钱从低到高</span>
					<i class='txt'></i>
					<ul class="c_list hidden">
						<li><a class="cur" href="javascript:void(0)">价钱从低到高</a></li>
						<li><a href="javascript:void(0)">价钱从高到低</a></li>
					</ul>
				</div>
				<div class="r courseClassify">
					<span class="l txt">近一周开课</span>
					<i class='txt'></i>
					<ul class="c_list hidden">
						<li><a class="cur" href="javascript:void(0)">近一周开课</a></li>
						<li><a href="javascript:void(0)">近二周开课</a></li>
						<li><a href="javascript:void(0)">近三周开课</a></li>
					</ul>
				</div>
			</div>
			<div class="b_list">
				<ul>
					<li>
						<div class="cus l">
							<p class="red">领导力培训课程</p>
							<p class="company_name">拉拉培训技术有限公司</p>
							<p class="star l">
								<i class='active84'></i>
							</p>
						</div>
						<p class="address l m">北京市-海淀区</p>
						<p class="time l m">2015-10-30至2015-11-6</p>
						<p class="l m px">
							<span>培训费</span>
							<em class='red money'>10000RMB</em>
						</p>
					</li>
					<li>
						<div class="cus l">
							<p class="red">领导力培训课程</p>
							<p class="company_name">拉拉培训技术有限公司</p>
							<p class="star l">
								<i class='active36'></i>
							</p>
						</div>
						<p class="address l m">北京市-海淀区</p>
						<p class="time l m">2015-10-30至2015-11-6</p>
						<p class="l m px">
							<span>培训费</span>
							<em class='red money'>10000RMB</em>
						</p>
					</li>
					<li>
						<div class="cus l">
							<p class="red">领导力培训课程</p>
							<p class="company_name">拉拉培训技术有限公司</p>
							<p class="star l">
								<i class='active48'></i>
							</p>
						</div>
						<p class="address l m">北京市-海淀区</p>
						<p class="time l m">2015-10-30至2015-11-6</p>
						<p class="l m px">
							<span>培训费</span>
							<em class='red money'>10000RMB</em>
						</p>
					</li>
					<li>
						<div class="cus l">
							<p class="red">领导力培训课程</p>
							<p class="company_name">拉拉培训技术有限公司</p>
							<p class="star l">
								<i class='active120'></i>
							</p>
						</div>
						<p class="address l m">北京市-海淀区</p>
						<p class="time l m">2015-10-30至2015-11-6</p>
						<p class="l m px">
							<span>培训费</span>
							<em class='red money'>10000RMB</em>
						</p>
					</li>
					<li>
						<div class="cus l">
							<p class="red">领导力培训课程</p>
							<p class="company_name">拉拉培训技术有限公司</p>
							<p class="star l">
								<i class='active24'></i>
							</p>
						</div>
						<p class="address l m">北京市-海淀区</p>
						<p class="time l m">2015-10-30至2015-11-6</p>
						<p class="l m px">
							<span>培训费</span>
							<em class='red money'>10000RMB</em>
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="r_tent l">
			<ul>
				<li>
					<a href="#" title="">
						<img src="/src/img/adv_1.jpg">
					</a>
				</li>
				<li>
					<a href="#" title="">
						<img src="/src/img/adv_1.jpg">
					</a>
				</li>
				<li>
					<a href="#" title="">
						<img src="/src/img/adv_1.jpg">
					</a>
				</li>
				<li>
					<a href="#" title="">
						<img src="/src/img/adv_1.jpg">
					</a>
				</li>
				<li>
					<a href="#" title="">
						<img src="/src/img/adv_1.jpg">
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">require(['page/course/search'])</script>