<header>
	<div class="header">
		<div class="area">
			<div class="logo l">
				<a href="/">
					<img class="fix" src="/src/img/logo.png"></img>
				</a>
			</div>
			<nav class="lh l">
				<ul>
					<li><a href="/">首页</a></li>
					<li><a href="">个人培训</a></li>
					<li><a href="">职业测试</a></li>
					<li><a href="">企业年卡</a></li>
					<li><a href="">免费培训</a></li>
					<li><a href="">课程团购</a></li>
				</ul>
			</nav>
			<div class="lh more r">
				<ul>
					<li><a id='btnLogin' href="javascript:void(0)">登录</a></li>
					<li><a href="/register/choose">注册</a></li>
					<li class="b_left"></li>
					<li><a href="javascript:void(0)">联系我们</a></li>
					<li><a href="javascript:void(0)">建议</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>