{{!--选择注册类型页面--}}
{{!< home}}
{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/src/css/d/choose.css?v={{version}}"/>
{{/extend}}
<div class="area choose">
	<span class="user l"><a href="/register/personal">个人用户</a></span>
	<span class="user r"><a href="">企业用户</a></span>
	<span class="clear"></span>
	<h2 class="title">详细说明</h2>
	<div class="desc">
		<p>
			<strong>1.个人用户</strong><br>
			申请个人用户只能查看公司，但是不能获取公司的联系方式<br>
			申请个人用户只能查看公司，但是不能获取公司的联系方式<br>
			申请个人用户只能查看公司，但是不能获取公司的联系方式
		</p>
		<p>
			<strong>2.企业用户</strong><br>
			申请企业用户不仅可以发布信息，还可以邀请其它同行公司参加<br>
			申请企业用户不仅可以发布信息，还可以邀请其它同行公司参加<br>
			申请企业用户不仅可以发布信息，还可以邀请其它同行公司参加
		</p>
	</div>
</div>
<script type="text/javascript">require(['app/public'])</script>
