<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>Angular-basic</title>
<meta name="description" content="Copyright http://blog.fens.me">
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>

<script src="/lib/jquery-1.8.3.js"></script>

<script src="/javascripts/controllers.js?v={{version}}"></script>
<script src="/javascripts/app.js?v={{version}}"></script>
<script src="/javascripts/services.js?v={{version}}"></script>
</head>
<body ng-app="app">
<ul>
	<li>Angularjs + Express</li>
</ul>
<form action="" ng-controller="formCtl">
	<label for="">直接使用controller方法,controller方法返回值:{{ctlName}}</label>
</form>
<div ng-view></div>

</body>
</html>