{{!< home}}
{{#extend "stylesheets"}}
	<link rel="stylesheet" href="/src/css/d/home.css?v={{version}}"/>
	<link rel="stylesheet" href="/src/css/g/slideimg.css?v={{version}}"/>
{{/extend}}
<div class="area">
	<div class="category clear">
		<div class="cate_l l">
			<div class="cate_c clear">
				<h1>在职培训类</h1>
				<ul>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
					<li><a href="">在职培训</a></li>
				</ul>
			</div>
			<div class="cate_c clear">
				<h1>脱产培训类</h1>
				<ul>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
					<li><a href="">脱产培训</a></li>
				</ul>
			</div>
			<div class="cate_c clear">
				<h1>技术类</h1>
				<ul>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
					<li><a href="">技术培训</a></li>
				</ul>
			</div>
			<div class="cate_c clear">
				<h1>管理类</h1>
				<ul>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
					<li><a href="">管理培训</a></li>
				</ul>
			</div>
		</div>
		<div class="cate_r r">
			<div class="top">
				<div class="search_container l">
					<input type="text" id="searchTxt" placeholder="输入关键词：如 在职培训" />	
				</div>
				<input type="button" id="btnSearch" value="搜索" />
			</div>
			<div class="search_remind l">
				<span>热门搜索：</span>
				<a href="">在职培训</a>
				<a href="">脱产培训</a>
			</div>
			<div id="tFocus">
				<div class="prev" id="prev"></div>
				<div class="next" id="next"></div>
				<ul id="tFocus-pic">
					<li style="z-index: 0;opacity: 1;"><a href="#"><img src="/src/img/demo/706-131119110625157.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/645-1311191056130-L.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/706-13111Q1234X03.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/645-13111Q354530-L.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 5; opacity: 0;"><a href="#"><img src="/src/img/demo/706-13111Q359433J.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/645-13111Q136160-L.jpg" width="660px" height="280px"></a></li>
					<li style="opacity: 0; z-index: 0;"><a href="#"><img src="/src/img/demo/706-131119110625157.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/645-1311191056130-L.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/706-13111Q1234X03.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/645-13111Q354530-L.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 5; opacity: 0;"><a href="#"><img src="/src/img/demo/706-13111Q359433J.jpg" width="660px" height="280px"></a></li>
					<li style="z-index: 0; opacity: 0;"><a href="#"><img src="/src/img/demo/645-13111Q136160-L.jpg" width="660px" height="280px"></a></li>
				</ul>
				<div id="tFocusBtn">
					<a href="javascript:void(0);" id="tFocus-leftbtn">上一张</a>
					<div id="tFocus-btn">
						<ul>
							<li class="active"><img src="/src/img/demo/706-131119110625157.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/645-1311191056130-L.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/706-13111Q1234X03.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/645-13111Q354530-L.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/706-13111Q359433J.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/645-13111Q136160-L.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/706-131119110625157.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/645-1311191056130-L.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/706-13111Q1234X03.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/645-13111Q354530-L.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/706-13111Q359433J.jpg" width="87px" height="57px"></li>
							<li class=""><img src="/src/img/demo/645-13111Q136160-L.jpg" width="87px" height="57px"></li>
						</ul>
					</div>
					<a href="javascript:void(0);" id="tFocus-rightbtn">下一张</a>
				</div>
			</div>
		</div>
	</div>
	<div class="hot_train clear">
		<h2 class="h2_title">
			<span>热门培训</span>
			<a class="more" href="#">更多>></a>
		</h2>
		<ul class="hot_list">
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
			<li class="l">
				<div class="job l">
					<p class="title">
						<a class="of_text" href="#">web前端开发</a>
						<span class="of_text">北京</span>
					</p>
					<p class="company">
						<a href="#">腾讯科技(深圳)有限公司</a>
					</p>
				</div>
				<p class="money l of_text">
					20-30万
				</p>
				<a class="r job_img" href="#">
					<img src="/src/img/demo/tx.png" alt="">
				</a>
			</li>
		</ul>
	</div>
	<div class="star_train clear">
		<h2 class="h2_title">
			<span>培训之星</span>
			<a class="more" href="#">更多>></a>
		</h2>
		<ul class="star_list">
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
			<li class="l">
				<a class="star_a" href="#">
					<img class="star_img" src="/src/img/demo/company.png" alt="">
				</a>
				<p class="star_name of_text">
					爱屋及乌有限公司【北京】
				</p>
				<a class="star_more r" href="#">
					更多精彩课程>>
				</a>
			</li>
		</ul>
	</div>
</div>
<div id="header_mark" data-mark="0"></div>
<script type="text/javascript">require(['page/home'])</script>