<aside class="left">
    <h3>账号管理</h3>
    <ul>
        <li class="" data-type="companyshow">
            <a href="/admin/company/show">企业账号</a>
        </li>
        <li class="" data-type="companynew">
            <a href="/admin/company/new">新增企业账号</a>
        </li>
        <li class="" data-type="usershow">
            <a href="/admin/user/show">用户账号</a>
        </li>
        <li class="" data-type="usernew">
            <a href="/admin/user/new">新增用户账号</a>
        </li>
    </ul>
    <h3>分类管理</h3>
    <ul>
        <li class="" data-type="classifynew">
            <a href="/admin/classify/new">新增分类</a>
        </li>
        <li class="" data-type="classifyone">
            <a href="/admin/classify/one">分类一级</a>
        </li>
        <li class="" data-type="classifytwo">
            <a href="/admin/classify/two">分类二级</a>
        </li>
    </ul>
    <h3>课程管理</h3>
    <ul>
        <li class="" data-type="courseshow">
            <a href="/admin/course/show">课程</a>
        </li>
        <li class="" data-type="coursenew">
            <a href="/admin/course/new">新增</a>
        </li>
    </ul>
    <h3>讲师管理</h3>
    <ul>
        <li class="" data-type="lecturershow">
            <a href="/admin/lecturer/show">讲师</a>
        </li>
        <li class="" data-type="lecturernew">
            <a href="/admin/lecturer/new">新增</a>
        </li>
    </ul>
</aside>