<div id="toolbar">
    <div class="area toolbar">
{{!--         <div class="l">
            <a href="http://www.tuan800.com" target="_blank">团800旗下网站</a>
            <a target="_blank" href="http://m.zhe800.com">手机版</a>
        </div> --}}
        <div class="r flow">
            &nbsp;
            <a target="_blank" href="https://zhaoshang.zhe800.com">管理中心</a>
        </div>
        <div id="login" class="right"> <em id="tblogin"></em>
        </div>
    </div>
</div>